:root {
    --mainColor: #7faba3;
    --secondaryColor: #5487a5;
    --accentColor: white;
}

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900');

body {
    font-family: Geologica, Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--mainColor);
}

.py-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.nav {
    --bs-nav-link-hover-color: var(--secondaryColor);
}

.nav-link {
    color: var(--accentColor)
}

a.nav-link:hover {
    background-color: var(--accentColor);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--secondaryColor);
}

.btn-primary {
    --bs-btn-bg: var(--mainColor);
    --bs-btn-border-color: var(--mainColor);
    --bs-btn-hover-color: var(--mainColor);
    --bs-btn-hover-border-color: var(--mainColor);
    --bs-btn-hover-bg: var(--accentColor);
}

.carousel-caption {
    color: var(--mainColor);
}

footer {
    background-color: var(--secondaryColor);
}

footer.row {
    margin: 0;
}

.col.mb-3, .text-body-secondary {
    color: var(--accentColor)!important;
}

footer a.nav-link:hover {
    background-color: var(--secondaryColor);
    opacity: 50%;
}

@media (min-width: 576px) {
    header {
        width: 100%;
    }

    footer {
        width: 100%;
    }
}

@media (min-width: 768px) {
    header {
        width: 100%;
    }

    footer {
        width: 100%;
    }
}

@media (min-width: 992px) {
    header {
        width: 100%;
    }

    footer {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    header {
        width: 100%;
    }

    footer {
        width: 100%;
    }
}

@media (min-width: 1400px) {
    header {
        width: 100%;
    }

    footer {
        width: 100%;
    }
}