:root {
    --mainColor1: oklch(0.7071 0.0487 182.43); /* #7faba3 */
    --mainColor2: oklch(0.7071 0.15 182.43);
    --mainColor3: oklch(0.83799 0.06878 185.567);
    --secondaryColor1: oklch(0.5994 0.0714 235.53); /* #5487a5 */
    --secondaryColor2: oklch(0.8 0.0714 235.53);
    --secondaryColor3: oklch(0.3 0.0714 235.53);
    --accentColor: white;
    --blur1: oklch(0.7071 0.15 182.43 / 0.7);
    --blur2: oklch(0.5994 0.0714 235.53 / 0.6);
    --blur3: rgba(255, 255, 255, 0.8);
}

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900');

html {
    scroll-behavior: smooth;
}

body::before {
    display: block;
    content: '';
    height: 72px;
}

body {
    font-family: Geologica, Arial, Helvetica, sans-serif;
    background-color: var(--accentColor);
    background: radial-gradient(circle, transparent 20%, var(--accentColor) 20%, var(--accentColor) 80%, transparent 80%, transparent),
        radial-gradient(circle, transparent 20%, var(--accentColor) 20%, var(--accentColor) 80%, transparent 80%, transparent) 25px 25px,
        linear-gradient(var(--mainColor1) 2px, transparent 2px) 0 -1px,
        linear-gradient(90deg, var(--mainColor1) 2px, var(--accentColor) 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}


/* CSS code for the navigation bar */
.navbar {
    background-color: var(--blur1);
    backdrop-filter: blur(7px);
    border-bottom: 2px solid var(--secondaryColor1);
}

.navbar-nav {
    margin: 0 auto;
}

nav .nav-item, nav .nav-link {
    border-radius: 20px;
}

.navbar .nav-link {
    color: var(--secondaryColor3);
    background-color: var(--accentColor);
}

.navbar li:last-child .nav-link {
    color: var(--accentColor);
    background-color: var(--secondaryColor3);
}

.navbar .nav-link:hover {
    color: var(--accentColor);
    background-color: var(--secondaryColor3);
}

/* Media queries for the navigation bar */
@media only screen and (max-width: 576px) {
    .navbar {
        padding: 1.5rem 0 !important;
        width: 100vw;
    }

    .navbar-nav {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    nav .nav-link {
        font-size: 0.6rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
}


/* CSS code for contact information */
#contact-info-section {
    background-color: var(--blur3);
    backdrop-filter: blur(7px);
    max-width: 85vw;
    height: 85vh;
    margin: 0 auto;
    border: 0 solid var(--mainColor2);
    border-width: 0 1px;
}

#contact-title-container {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInSlideDown 1s ease-out forwards;
    padding-top: 4rem;
}

#contact-title-container h2 {
    color: var(--secondaryColor3);
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}

#contact-card {
    width: 100%;
    height: 80%;
    color: var(--secondaryColor3);
    opacity: 0;
    transform: scale(0.8);
    animation: scaleAndFadeIn 1s ease-out 1s forwards;
}

.info-line {
    width: 40%;
    background-color: var(--blur2);
    backdrop-filter: blur(7px);
    color: var(--accentColor) !important;
    display: flex;
    align-items: center;
}

.info-line i {
    color: var(--accentColor);
    min-width: 25px;
}

.info-line:last-child {
    margin-bottom: 0;
}

.info-line, .info-line i {
    font-size: clamp(0.9rem, 2.5vw, 1.15rem);
}

/* Animation the title */
@keyframes fadeInSlideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
        color: var(--secondaryColor3);
    }
}

/* Animation for the card */
@keyframes scaleAndFadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Media queries for contact information */
@media only screen and (max-width: 992px) {    
    #contact-title-container h2 {
        font-size: 2rem;
    }

    .info-line, .info-line i {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 820px) {
    #contact-info-section {
        height: 70vh;
    }

    #contact-title-container h2 {
        font-size: 1.875rem;
    }

    .info-line, .info-line i {
        font-size: 0.875rem;
    }
}

@media only screen and (max-width: 750px) {
    #contact-title-container h2 {
        font-size: 1.75rem;
    }

    .info-line, .info-line i {
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 675px) {
    .info-line {
        width: 60%;
    }
}

@media only screen and (max-width: 450px) {
    #contact-title-container h2 {
        font-size: 1.5rem;
    }

    .info-line {
        width: 80%;
    }

    .info-line, .info-line i {
        font-size: 0.625rem;
    }
}


/* CSS code for the footer */
footer {
    max-width: 100vw;
    margin: 0 !important;
    background-color: var(--mainColor3);
    font-size: 0.875rem;
    border-top: 1px solid var(--mainColor2);
}

footer .nav-item, footer h5 {
    color: var(--secondaryColor3);
}

footer h5 {
    border-bottom: 0 solid var(--secondaryColor3);
    transition: border-bottom 100ms;
}

footer h5:hover {
    border-bottom: 1px solid var(--secondaryColor3);
}

#map {
    color: var(--secondaryColor3);
    border-bottom: 0 solid var(--blur1);
    border-radius: 0;
    transition: border-bottom 100ms;
}

#map:hover {
    border-bottom: 1px solid var(--blur1);
}

/* Media queries for the footer */
@media only screen and (max-width: 940px) {
    footer {
        font-size: 0.625rem;
    }

    footer h5 .nav-link {
        font-size: 0.875rem;
    }

    footer .col {
        max-width: 200px;
    }
}

@media only screen and (max-width: 615px) {
    footer .col {
        max-width: 150px;
    }

    footer .nav-link {
        padding-left: 0 !important;
    }
}

@media only screen and (max-width: 576px) {
    footer h5 .nav-link {
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 464px) {
    footer {
        font-size: 0.5rem;
    }

    footer h5 .nav-link {
        font-size: 0.625rem;
    }

    footer .col {
        max-width: 120px;
    }
}